@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=Roboto+Slab&display=swap");
* {
  text-decoration: none;
  list-style-type: none; }

body {
  background-color: #ffffff;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.8rem;
  color: #282828;
  margin: 0px;
  overflow-x: hidden; }
  body ::selection {
    background-color: #ff5000;
    color: #f9f8ea; }

.top-navbar {
  font-size: 18px;
  margin: 0px;
  display: flex;
  height: 50px;
  background-color: #ffffff;
  align-items: center;
  justify-content: space-between; }
  .top-navbar .page-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
  .top-navbar a {
    padding-left: 30px; }
  .top-navbar .top-navbar-right {
    display: flex; }
    .top-navbar .top-navbar-right a {
      justify-content: space-around;
      padding-right: 30px; }

.navigation {
  top: 30px;
  right: 30px; }

.navbutton {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #282828;
  cursor: pointer;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease;
  transition-delay: 0s; }
  .navbutton:active {
    transform: rotate(45deg);
    animation-fill-mode: forwards; }

button {
  background: 0;
  border: 0; }

.landing {
  width: 100%;
  /* whatever width you want */
  display: inline-block;
  position: relative;
  background-size: contain;
  background: url("../images/bus_2_800.jpg") top center no-repeat;
  margin: 0 auto; }

.landing:after {
  padding-top: 49.125%;
  /* this llama image is 800x600 so set the padding top % to match 600/800 = .75 */
  display: block;
  content: ''; }

.main {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: black;
  text-align: center;
  margin-top: 5%; }

/* setup */
.container {
  display: flex;
  overflow: auto;
  width: 100%; }

.container.y {
  height: 256px;
  flex-flow: column nowrap; }

/* scroll-snap */
.y.mandatory-scroll-snapping {
  scroll-snap-type: y mandatory; }

.container > div {
  text-align: center;
  scroll-snap-align: center;
  flex: none; }

.y.container > div {
  line-height: 256px;
  font-size: 128px;
  height: 100%; }
  .y.container > div.pink {
    background-color: #ff6784; }
  .y.container > div.yellow {
    background-color: #d6e150; }
  .y.container > div.blue {
    background-color: #52cad5; }
  .y.container > div.orange {
    background-color: #ff5000; }
  .y.container > div.grey {
    color: #52cad5;
    background-color: #212121; }

footer {
  display: flex;
  justify-content: center;
  height: 800px; }
